* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    object-fit: cover;
}

.container2 {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    position: relative;
}

.size {
    width: 230px;
    height: auto;
}

.dspl-flex {
    display: flex;
}

.dspl-none {
    display: none;
}

p {
    letter-spacing: 1px;
    text-align: center;
}

.container-news {
    display: flex;
    padding: 5px;
    position: absolute;
    right: 120px;
    top: 100px;
    width: 290px;
    transform: rotate(6deg);
    color: white;
    text-shadow: 1px 4px 8px black;
}

.thought {
    position: relative;
    bottom: 460px;
    left: 289px;
    width: 164px;
    padding: 10px 10px;
    background: #FFF;
    border: 2px solid black;
    border-radius: 100% / 90%;
}

/* Grand cercle */
.thought::before {
    content: "";
    position: absolute;
    bottom: 27px;
    left: -37px;
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid black;
    border-radius: 30px;
}


/* Petit cercle */
.thought::after {
    content: "";
    position: absolute;
    bottom: 33px;
    left: -62px;
    width: 12px;
    height: 12px;
    background: white;
    border: 2px solid black;
    border-radius: 15px;
}

.speech {
    position: relative;
    bottom: 460px;
    left: 289px;
    width: 200px;
    padding: 10px 10px;
    background: #FFF;
    border: 2px solid black;
    border-radius: 100% / 90%;
}

.speech::before {
    content: "";
    position: absolute;
    bottom: -10px;
    /* valeur un peu supérieure à la longueur de la flèche */
    left: -29px;
    border-left: 0px solid transparent;
    /* largeur initiale de la partie gauche de la flèche (ici 0) */
    border-right: 12px solid transparent;
    /* largeur initiale de la partie droite de la flèche */
    border-top: 54px solid black;
    /* longueur de la flèche */
    transform: rotate(58deg);
}

.speech::after {
    content: "";
    position: absolute;
    bottom: -2px;
    /* une valeur un peu inférieure à la longueur de la flèche pour bien réaliser la jonction avec la bulle */
    left: -20px;
    border-left: 0px solid transparent;
    /* largeur initiale de la partie gauche de la flèche (ici 0) */
    border-right: 7px solid transparent;
    /* largeur initiale de la partie droite de la flèche */
    border-top: 50px solid white;
    /* longueur de la flèche */
    transform: rotate(60deg);
}

.speech-mam {
    position: relative;
    top: 180px;
    left: 28px;
    width: 221px;
    height: 126px;
    text-align: center;
    padding: 10px 10px;
    background: #FFF;
    border: 2px solid black;
    border-radius: 100% / 90%;
    box-shadow: 8px 8px 10px 0 rgb(39, 27, 27);
}

.speech-end {
    position: relative;
    bottom: 150px;
    left: 273px;
    width: 364px;
    height: auto;
    text-align: center;
    padding: 10px 10px;
    color: white;
    text-shadow: 1px 4px 8px black;
    background: #241a1a;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 8px 8px 10px 0 rgb(39, 27, 27);
}